name: Security-Check

on: [push, pull_request]

jobs:
  security_scan:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18'
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Dependency Vulnerability Audit
        run: npm audit --audit-level=high
        # Пайплайн упадет только при наличии уязвимостей уровня High и Critical

      - name: Run ESLint (Security Audit)
        run: npx eslint ./src --ext .js

      - name: Run XSS Payload Tests
        run: npm test
